<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
      <h1> Covid Cases on <%= date %> </h1>
      <h3> Here are the data: </h3>
      <p> states: <%= states %> </p>
      <p> positive: <%= positive %> </p>
      <p> negative: <%= negative %> </p>
      <p> pending: <%= pending %> </p>
      <p> death: <%= death %> </p>
      <p> hopitalized: <%= hospitalized %> </p>
      <p> totalTestResults: <%= totalTestResults %> </p>

    </div>



<%- include('bootfooter') -%>
