
    <div class="jumbotron">
      <h1> Covid Cases on <%= date %> </h1>
      <br>
      <hr>
      <h2> Here are the data: </h2>
      <br>
      <p> states: <%= states %> </p>
      <p> positive: <%= positive %> </p>
      <p> negative: <%= negative %> </p>
      <p> pending: <%= pending %> </p>
      <p> death: <%= death %> </p>
      <p> hopitalized: <%= hospitalized %> </p>
      <p> total test results: <%= totalTestResults %> </p>

    </div>
